/** Reset estilos Bootstrap -----------------------------------------------> */

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}


/** Header y footer -------------------------------------------------------> */

header.jumbotron {
  background-color: tomato;
  color: black;
  margin-top: 56px;
}

.footer {
  background-color: tomato;
  margin-bottom: 0;
  margin-top: 20px;
  padding: 16px;
}

.footer-icon {
  padding-right: 8px;
}

/** Banner-carousel -------------------------------------------------------> */

#banner-carousel {
  border-radius: .25rem;
  margin: 5rem 0;
}

#banner-carousel img {
  max-height: 45vh;
  object-fit: cover;
  object-position: center center;
  border-radius: .25rem;
}

.banner-caption {
  text-shadow: 0px 1px 2px black;
  font-family: sans-serif;
}


/** .card-hotel -----------------------------------------------------------> */

/*
.card-hotel {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
*/

.card-hotel .card-header {
  color: white;
  font-size: 12px;
}

.card-hotel .card-img-top {
  border-radius: 0;
}

.card-hotel .card-body {
  position: relative;
  z-index: 2;
  top: -2rem;
  left: 0;
  border-radius: 1rem 1rem 0 0;
  background-color: white;
  transition: top .2s ease-in-out;
}
.card-hotel:hover .card-body {
  top: -1rem;
}

.btn-reserva {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
}

.btn-reserva span {
  font-size: 80%;
  opacity: 75%;
  padding-right: 6px;
}


/** Tabs ------------------------------------------------------------------> */

.tab-content {
  padding: 1rem 0;
  min-height: 40vh;
}