$tomato: #ff6347;
$yellow: #ffff00;
$red: #ff0000;
$green: #00ff00;

@mixin margenesY($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

/** Reset estilos Bootstrap -----------------------------------------------> */

.card-columns {
  @media (min-width: 576px) {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  @media (min-width: 768px) {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

/** Header y footer -------------------------------------------------------> */

header.jumbotron {
  background-color: $tomato;
  color: black;
  margin-top: 56px;
}

.footer {
  background-color: $tomato;
  @include margenesY(20px, 0);
  padding: 16px;
}

.footer-icon {
  padding-right: 8px;
}

/** Banner-carousel -------------------------------------------------------> */

#banner-carousel {
  border-radius: 0.25rem;
  margin: 5rem 0;

  & img {
    max-height: 45vh;
    object-fit: cover;
    object-position: center center;
    border-radius: 0.25rem;
  }
}

.banner-caption {
  text-shadow: 0px 1px 2px black;
  font-family: sans-serif;
}

/** .card-hotel -----------------------------------------------------------> */

/*
.card-hotel {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
*/

.card-hotel {
  .card-header {
    color: white;
    font-size: 12px;
  }

  .card-img-top {
    border-radius: 0;
  }

  .card-body {
    position: relative;
    z-index: 2;
    top: -2rem;
    left: 0;
    border-radius: 1rem 1rem 0 0;
    background-color: white;
    transition: top 0.2s ease-in-out;
  }

  &:hover .card-body {
    top: -1rem;
  }
}

.btn-reserva {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
  
  span {
    font-size: 80%;
    opacity: 75%;
    padding-right: 6px;
  }
}

/** Tabs ------------------------------------------------------------------> */

.tab-content {
  padding: 1rem 0;
  min-height: 40vh;
}
